html, body, p, h1, h2, h3, h4, h5, h6, a, span, div, input, textarea, button, label, li {
    font-family: 'Poppins', sans-serif !important;
}

.titulo-principal {
    font-family: 'Ubuntu', sans-serif !important;
}

.nav-link {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d0ebc4   ;
    transition: width 0.4s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: #d0ebc4    !important;
}

.btn-logIn {
    text-decoration: none;
    outline: none;
    font-size: inherit;
    cursor: pointer;
    font-weight: 500;
    padding: 12px 22px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 10px;
    border: 2px solid #0d6efd;
    transition: 0.2s;
}

.btn-logIn:hover {
    background-color: #0d6efd;
    color: white;
}

.custom {
    background-color: #5d3a9b;
    height: 90px;
    background-color: #5d3a9b;
    padding: 20px 40px;
}

.btn-primary{
    background-color: #5d3a9b;
    color: white;
    border-color: #5d3a9b;
}

.btn-primary:hover {
    background-color: #d0ebc4  ;
    border-color: #d0ebc4  ;
    color: black;
}

.card-header {
    background: #5d3a9b !important;
}

.card-mascota:hover {
    transform: translateY(-2px) scale(1.005);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.card-mascota {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btnPrincipal{
    background-color: #A2D2FF !important;
    border-color: #A2D2FF !important;
}

.btnPrincipal:hover {
    background-color: #5cb0eb !important;
    border-color: #5cb0eb !important;
}

.custom-select select {
    border: 2px solid #5d3a9b;
    border-radius: 10px;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    color: #5d3a9b;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.custom-select select:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(93, 58, 155, 0.25);
    border-color: #7c5cc4;
}

html,
body {
    height: 100%;
}

.btn-violeta {
    background-color: #fff;
    color: #5E3A9C;
    border: 1px solid #5E3A9C;
    transition: 0.3s ease-in-out;
}

.btn-violeta:hover {
    background-color: #5E3A9C;
    color: white;
}

.btn-violeta-invertida {
    background-color: #5E3A9C;
    color: white;
    border: 1px solid #5E3A9C;
    transition: 0.3s ease-in-out;
}

.btn-violeta-invertida:hover {
    background-color: white;
    color: #5E3A9C;
}
