*{
    font-family: 'Poppins', sans-serif;
}

.btn-logIn {
    text-decoration: none;
    border: 0;
    outline: none;
    font-size: inherit;
    cursor: pointer;
    font-weight: 500;
    padding: 12px 22px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 10px;
    border: 2px solid #0aa5ff;
    transition: 0.2s;
}

.btn-logIn:hover {
    background-color: #0aa5ff;
    color: white;
}

.custom {
    background-color: #5d3a9b;
    height: 90px;
    background-color: #5d3a9b;
    padding: 20px 40px;
}

.btn-primary{
    background-color: #5d3a9b;
    color: white;
    border-color: #5d3a9b;
}

.btn-primary:hover {
    background-color: #0aa5ff;
    color: white;
}

html,
body {
    height: 100%;
}

.btn-violeta {
    background-color: #fff;
    color: #5E3A9C;
    border: 1px solid #5E3A9C;
    transition: 0.3s ease-in-out;
}

.btn-violeta:hover {
    background-color: #5E3A9C;
    color: white;
}

.btn-violeta-invertida {
    background-color: #5E3A9C;
    color: white;
    border: 1px solid #5E3A9C;
    transition: 0.3s ease-in-out;
}

.btn-violeta-invertida:hover {
    background-color: white;
    color: #5E3A9C;
}
