.btn-logIn {
    border: 0;
    outline: none;
    font-size: inherit;
    cursor: pointer;
    font-weight: 500;
    padding: 12px 22px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 10px;
    border: 2px solid #0aa5ff;
    transition: 0.2s;
    font-family: 'Poppins', sans-serif;
}

.btn-logIn:hover {
    background-color: #0aa5ff;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.custom {
    background-color: #5d3a9b;
    font-family: 'Poppins', sans-serif;
    height: 90px;
    background-color: #5d3a9b;
    padding: 20px 40px;
}
