<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <header th:fragment="encabezado">

      <nav class="navbar navbar-expand-lg navbar-light custom">
        <div class="container-fluid">
          <a class="navbar-brand text-white fw-bold" th:href="@{/home}">ADOPETS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link fs-6 me-4 text-white" th:href="@{/home}">Inicio</a>

              </li>
              <li class="nav-item">
                <a class="nav-link fs-6 me-4 text-white" th:href="@{/nosotros}">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-6 me-4 text-white" th:href="@{/mascotas}">En Adopción</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-6 me-4 text-white" th:href="@{/mascota/nueva}">Dar en Adopción</a>
              </li>
              <li class="nav-item" th:if="${session.ROL == 'ADMIN'}">
                <a class="nav-link fs-6 me-4 text-white" th:href="@{/admin/solicitudes}">Solicitudes</a>
              </li>
              <li class="nav-item" th:if="${session.idUsuario != null}">
                <a class="nav-link fs-6 me-4 text-white" th:href="@{/perfil}">Mi Perfil</a>
              </li>
            </ul>
            <div class="d-flex">

              <a th:if="${session.idUsuario == null}" th:href="@{/login}" class="btn-logIn">Log In</a>
              <form th:if="${session.idUsuario != null}" th:action="@{/logout}" method="POST" class="m-0">
                <button type="submit" class="btn-logIn">Cerrar sesión</button>
              </form>

            </div>
          </div>
        </div>
      </nav>

    </header>

  <script>

    document.addEventListener("DOMContentLoaded", function () {
      const navLinks = document.querySelectorAll('.nav-link');

      navLinks.forEach(link => {
        link.addEventListener('click', () => {
          navLinks.forEach(l => l.classList.remove('active'));
          link.classList.add('active');
        });
      });
    });

  </script>

  </body>
</html>

