<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<header>
    <nav class="navbar">
        <div class="logo">
            <i class="fa-solid fa-paw"></i>
            <a href="#">LOGO</a>
        </div>
        <div class="menu">
            <div class="menu-links">
                <a href="">Inicio</a>
                <a href="">Nosotros</a>
                <a href="">En Adopción</a>
                <a href="">Dar en Adopción</a>
            </div>
            <button class="log-in">Log In</button>
        </div>
        <div class="menu-btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </nav>
</header>
</html>