<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="templates/head :: head"></head>

<body>

<header th:insert="templates/header :: header"></header>

<main
        role="main"
        class="fondo-degradado d-flex align-items-center justify-content-center vh-100"
>
  <div class="registro-box">
    <form
            th:action="@{/registrarme}"
            method="POST"
            th:object="${registro}"
    >
      <h3 class="text-center mb-3">Nuevo Usuario</h3>
      <hr />

      <input
              th:field="*{nombre}"
              id="nombre"
              type="text"
              placeholder="Ingrese su nombre"
              class="form-control mb-3"
              required
      />
      <input
              th:field="*{email}"
              id="email"
              type="email"
              placeholder="Ingrese su email"
              class="form-control mb-3"
              required
      />
      <input
              th:field="*{password}"
              type="password"
              id="password"
              placeholder="Ingrese su contraseña"
              class="form-control mb-3"
              required
      />

      <button
              id="btn-registrarme"
              class="btn btn-lg btn-violeta-invertida w-100 mb-3"
              type="submit"
      >
        Registrarme
      </button>

      <p
              th:if="${error != null}"
              class="alert alert-danger"
              th:text="'Error ' + ${error}"
      ></p>
    </form>
  </div>
</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>